<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.3.1/dist/multiple-select.min.css"> -->
    <!-- <link rel="stylesheet" href="../style.css"> -->
    <link rel="stylesheet" href="https://ucarecdn.com/a6c24b38-935b-44ba-90d3-02458a13dfbe/multimin.css">
    <script src="https://ucarecdn.com/574e4feb-85fa-41f8-afc6-72ff6509eb47/multimin.js"></script>
    <script>
      UPLOADCARE_PUBLIC_KEY = '4c6c0f7fc481aaa7115a';
      UPLOADCARE_IMAGE_SHRINK = '512x512';
      UPLOADCARE_IMAGES_ONLY = true;
    </script>
    
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
  
    <title>DeltaX IMDB</title>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">DeltaXIMDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/actors/all">Actors</a>
          </li>

        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
      </div>
    </nav>
